div.botones{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    width:100%
}


div.divcarrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    
    
}

.volver{
    margin-top: 5%;

}
