div.divitemdetail {
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding:1%;
    
}

div.divitemdetail article{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:1px;
}
div.divitemdetail article section{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}
div.divitemdetail article section p{
    font-size:20px;
   
}