
.divitemlist {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    justify-items:center ;
    gap:1%;
    padding:1%;
    
    
}

div.divitemlist article{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
}
div.divitemlist article section{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}
div.divitemlist article section p{
    font-size:20px;
   
}
 
