div.divitem{
   
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    padding:1%;
    height:70px;
}

div.botonesmm{
    display: flex;
    flex-direction: row;

}

div.btnagregar{
    margin-top: 5%;
    margin-left: 15%;
}

div button.btnmenos{
    margin-right: 20%;
}

div button.btnmas{
    margin-left: 20%;
}

